= ui_component("component-name",
  content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit facere quae quibusdam animi unde voluptatum esse libero voluptatem, molestiae reiciendis dolorum quod illo, facilis minima modi ullam tempora nobis, nulla.",
)