= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js", :'data-turbolinks-eval' => "false", :'data-turbolinks-suppress-warning' => "true"
javascript:
  window.jQuery || document.write('<script src="#{asset_path(:js, "vendors/jquery.js")}"><\/script>')
= javascript_include_tag :front, :'data-turbolinks-eval' => "false", :'data-turbolinks-suppress-warning' => "true"
= content_for :page_scripts
