meta(charset="utf-8")

- if content_for?(:seo)
  = content_for :seo
- else
  = dato_meta_tags(nil)

meta(name="viewport" content="width=device-width, initial-scale=1.0")

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff001e">
<meta name="msapplication-TileColor" content="#ffd2d2">
<meta name="theme-color" content="#ffffff">

/[if IE]
  meta(content="IE=edge" http-equiv="X-UA-Compatible")
  meta(content="no" http-equiv="imagetoolbar")
  meta(content="true" name="MSSmartTagsPreventParsing")

= stylesheet_link_tag :front, :media => :screen
= stylesheet_link_tag :print, :media => :print
= content_for :page_styles

= javascript_include_tag "front/head"
