meta(charset="utf-8")

title= meta_title_full

- if (description = meta_description) && !description.empty?
  meta(name="description" content=description)

- if (keywords = meta_keywords) && !keywords.empty?
  meta(name="keywords" content=keywords)

meta(name="viewport" content="width=device-width, initial-scale=1.0")

link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
link(rel='icon' type='image/png' href='/favicon-32x32.png' sizes='32x32')
link(rel='icon' type='image/png' href='/favicon-16x16.png' sizes='16x16')
link(rel='manifest' href='/manifest.json')
link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#0c8b42')
meta(name='theme-color' content='#ffffff')

/[if IE]
  meta(content="IE=edge" http-equiv="X-UA-Compatible")
  meta(content="no" http-equiv="imagetoolbar")
  meta(content="true" name="MSSmartTagsPreventParsing")

= stylesheet_link_tag :front, :media => :screen
= stylesheet_link_tag :print, :media => :print
= content_for :page_styles

= javascript_include_tag "front/head"