.footer {
  backface-visibility: hidden;
  bottom: rem(30px);
  left: rem(20px);
  position: fixed;
  right: rem(20px);
  transition: opacity 0.25s, visibility 0.25s;
  animation: footer-fade-in 1s;

  &.is-hide {
    opacity: 0;
    visibility: hidden;
  }
}

  .footer__link {
    display: inline-block;
    font-weight: $font-bold;
    text-decoration: underline;
    transition: transform 0.25s;

    &:hover, &:focus {
      transform: rotate(-15deg);
    }
  }

  .footer__label,
  .footer__list,
  .footer__item {
    display: inline-block;
    vertical-align: middle;
  }

  .footer__label {
    @include mq($until: medium) {
      display: none;
    }
  }

  .footer__list {
    list-style: none;

    @include mq($until: medium) {
      display: flex;
      justify-content: space-between;
    }
  }

    .footer__item {
      @include mq($until: small) {
        &--contact {
          display: none;
        }
      }

      @include mq($from: medium) {
        & + & {
          margin-left: rem(50px);
        }

        &--contact {
          margin-left: 0;
          bottom: 0;
          position: absolute;
          right: 0;

          .footer__link {
            &:hover, &:focus {
              transform: rotate(15deg);
            }
          }
        }
      }

    }

@keyframes footer-fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
}
